<h2>Liste der Favoriten</h2>

<table class="table table-striped">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Created at</th>
    <th>actions</th>

  </thead>
    <tbody>
      <%= render @bookmarks %>
    </tbody>
</table>
<p><%= link_to "Neuen Favorit erstellen", new_bookmark_path, class: "btn btn-primary" %></p>